/* CONTAINER */
#gridContainer {
    width: 91%;
    margin: 0% auto;
    justify-content: space-between;
}

#gridItems {
    padding-top: 2%;
}
/* CARD  */
#card {
    /* max-width: 30vw !important; */
    height: 100%;
    background-color: #263238;
    z-index: 5;
    overflow: hidden !important;
    display: flex;
    flex-wrap: wrap;
    border-radius: 35px;
    /* box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39); */
    /* -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005) !important;
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005) !important; */
}

/* IMG */ 
#img {
    width: 16vw;
    object-fit: cover;
}

/* HOVER */
#card:hover {
    scale: 1.05;
}

#card:hover #overlay {
    scale: 1.05;
    opacity: 0.8;
}

#card:hover #title {
    scale: 1.05;
    opacity: 0.8;
}


/* DESCRIPTION */
.description {
    position: absolute;
    margin: 5% 55%;
    width: 40%;
    height: 85%;
    overflow: hidden;
    /* background-color: white; */
}

#overlay {
    position: absolute;
    bottom: 0px;
    width: 16vw;
    height : 30vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(245,0,87,0.66) 36%, rgba(255,0,92,1) 90%); 
    opacity: 0.0;
}

#title {
    position: absolute;
    bottom : 10%;
    width: 16vw;
    padding: 0 10%;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    opacity: 0;
}